<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football-standings</title>
    <link rel = "stylesheet" href = "styles/team.css">
</head>
<body>
  <div>
    <h2><img class = "logo" src =<%=pic%>> <%=league%> Standings</h2>
  </div>  
<div class = "top">    
 <% if (locals.why) {%>
  <div class = "position"> 
    <ul>
    <li>Pos</li>
    </ul>
    <hr>
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.position %></li>
         </ul> 
         <hr>  
      <%})%>
   </div>      
  <div class = "name">
    <ul>
        <li>Club</li>
    </ul>
    <hr>
    <% why.forEach(teams=>{%>
    <ul>
      <li><img src =<%=teams.team.crest%>> <%= teams.team.name %></li>
    </ul>
    <hr>   
    <%})%>
  </div> 
  <div class = "matches"> 
    <ul>
        <li>MP</li>
    </ul>
    <hr>
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.playedGames %></li>
         </ul>   
         <hr>
      <%})%>
  </div>  
  <div class = "won">
    <ul>
        <li>W</li>
    </ul>  
    <hr>
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.won %></li>
         </ul> 
         <hr>  
      <%})%>
  </div> 
  <div class = "draw">
    <ul>
        <li>D</li>
    </ul> 
    <hr>
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.draw %></li>
         </ul>
         <hr>  
      <%})%>
  </div> 
  <div class = "lost">
    <ul>
        <li>L</li>
    </ul> 
    <hr> 
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.lost%></li>
         </ul>
         <hr>   
      <%})%>
  </div> 
  <div class = "goalsScored">
    <ul>
        <li>GF</li>
    </ul> 
    <hr> 
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.goalsFor%></li>
         </ul> 
         <hr>  
      <%})%>
  </div> 
  <div class = "goalsConceded">
    <ul>
        <li>GA</li>
    </ul> 
    <hr> 
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.goalsAgainst%></li>
         </ul> 
         <hr>  
      <%})%>
  </div>
  <div class = "goalsNet">
    <ul>
        <li>GD</li>
    </ul> 
    <hr> 
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.goalDifference%></li>
         </ul>
         <hr>   
      <%})%>
  </div>
  <div class = "points">
    <ul>
        <li>Pts</li>
    </ul>
    <hr> 
    <% why.forEach(teams=>{%>
         <ul>
           <li><%= teams.points%></li>
         </ul> 
         <hr>  
      <%})%>
  </div>

 <% } else { %>
  <h2>hi</h2>
 <%}%>
</body>
</html>